src/main/resources/static/country.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cu="http://d10xa.ru/schema/bad-practice/currency"
           targetNamespace="http://d10xa.ru/schema/bad-practice/country" elementFormDefault="qualified">

   <xs:import namespace="http://d10xa.ru/schema/bad-practice/currency" schemaLocation="currency.xsd"></xs:import>

   <xs:complexType name="country">
      <xs:sequence>
         <xs:element name="name" type="xs:string"/>
         <xs:element name="population" type="xs:int"/>
         <xs:element name="capital" type="xs:string"/>
         <xs:element name="currency" type="cu:currency"/>
      </xs:sequence>
   </xs:complexType>

</xs:schema>